/* .elementor-divider {
  width: 200px;
  height: 20px;
  background-repeat: repeat;
  background-color: yellow;
} */


/* .elementor-divider .elementor-divider-separator {
  width: 20px;
  height: 30px;
  background-repeat: repeat;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' overflow='visible' height='100%' viewBox='0 0 24 24' fill='none' stroke='aqua' stroke-width='2.5' stroke-linecap='square' stroke-miterlimit='10'%3E%3Cpath d='M0,6c6,0,6,13,12,13S18,6,24,6'/%3E%3C/svg%3E");
} */